<div class="leaderboard-container">
    <!-- Info Banner-->
    <div class="info-banner" *ngIf="showUserBanner">
        ℹ️ Log In to see your stats!
        <button class="close-btn" (click)="closeUserBanner()">×</button>
    </div>
    <div class="info-banner" *ngIf="showPublishBanner && bracketService.user">
        ℹ️ Create & publish a bracket to get on the leaderboard
        <button class="close-btn" (click)="closePublishBanner()">×</button>
    </div>
    <!-- Header Section -->
    <div class="leaderboard-header">
      <div class="header-item">
        <span class="header-label">Bracket Name</span>
        <span class="header-value">{{ userBracket?.bracketName || 'N/A' }}</span>
      </div>
      <div class="header-item">
        <span class="header-label">Bracket Score</span>
        <span class="header-value">{{ userBracket?.score ?? 'N/A' }}</span>
      </div>
      <div class="header-item">
        <span class="header-label">Bracket Rank</span>
        <span class="header-value">{{ userBracket?.rank ?? 'N/A' }}</span>
      </div>
    </div>
  
    <!-- Table Section -->
    <div class="table-wrapper">
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Bracket Name</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bracket of leaderboardBrackets$ | async" (click)="viewBracket(bracket.bracketId)">
            <td>{{ bracket.rank }}</td>
            <td>{{ bracket.score }}</td>
            <td>{{ bracket.bracketName }}</td>
            <td>{{ bracket.userName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  