<div class="full-bracket-container">
    <div class="bracket-container">
        <!-- Left side (Normal regions, R1 → R4) -->
        <div class="bracket-side">
            <div class="bracket-wrapper">
                <h2>East Region</h2>
                <app-bracket-segment [currentRegion]="'east'" [roundHeaders]="false"></app-bracket-segment>
            </div>
            <div class="final-four-wrapper">
                <div class="final-four">
                    <div class="final-four-matchups" *ngFor="let matchup of getFinalFourMatchups()">
                        <div class="final-four-matchup">
                            <app-matchup [topTeam]="matchup?.[0]" [bottomTeam]="matchup?.[1]"></app-matchup>
                        </div>
                    </div>
                    <div *ngIf="bracketService.champion" class="final-four-champion">
                        <h2>Champion</h2>
                        <img [src]="bracketService.champion.image" [alt]="bracketService.champion.name" />
                    </div>
                </div>
            </div>
            <div class="bracket-wrapper">
                <h2>West Region</h2>
                <app-bracket-segment [currentRegion]="'west'" [roundHeaders]="false"></app-bracket-segment>
            </div>
        </div>
    
        <!-- Right side (Mirrored regions, R4 → R1) -->
        <div class="bracket-side">
            <div class="bracket-wrapper">
                <h2 class="reverse">Midwest Region</h2>
                <app-bracket-segment [currentRegion]="'midwest'" [roundHeaders]="false" [reverseOrder]="true"></app-bracket-segment>
            </div>
            <div class="final-four">
            </div>
            <div class="bracket-wrapper">
                <h2 class="reverse">South Region</h2>
                <app-bracket-segment [currentRegion]="'south'" [roundHeaders]="false" [reverseOrder]="true"></app-bracket-segment>
            </div>
        </div>
    </div>

</div>