<div class="winner-selection-container">
  <div *ngIf="!champion">
    <h2>Select Which Mascot You Like Best</h2>

    <div *ngIf="currentMatchup?.length === 2" class="matchup">
        <div class="team" (click)="selectWinner(currentMatchup[0])">
          <img [src]="currentMatchup[0].image" [alt]="currentMatchup[0].name" />
          <p>{{ currentMatchup[0].displayName | replaceUnderscore | titlecase }}</p>
        </div>
        <p class="vs">VS</p>
        <div class="team" (click)="selectWinner(currentMatchup[1])">
          <img [src]="currentMatchup[1].image" [alt]="currentMatchup[1].name" />
          <p>{{ currentMatchup[1].displayName | replaceUnderscore | titlecase }}</p>
        </div>
    </div>

    <div class="progress-container">
      <div *ngFor="let region of regionOrder" class="progress-box">
        <span class="region-title">{{ region | replaceUnderscore | titlecase }}</span>
        <span class="progress-text">{{ getRegionProgress(region) }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="champion" class="champion-display">
    <p>You have picked {{ champion.displayName | replaceUnderscore | titlecase }} as the winner of your bracket!</p>
    <img [src]="champion.image" [alt]="champion.name">
      <!-- Form for saving the bracket -->
  <form class="bracket-form" (ngSubmit)="saveBracket()" #bracketForm="ngForm">
    <div class="form-container">
      <label for="bracketName">Bracket Name:</label>
      <input 
        type="text" 
        id="bracketName" 
        name="bracketName" 
        [(ngModel)]="bracketService.name"
        [readonly]="bracketService.saved"
        required
      >
    </div>
    <div class="button-set">
      <button mat-button type="button" (click)="viewBracket()">View Bracket</button>
      <button *ngIf="!bracketService.user" mat-button type="button" (click)="login()">Log In</button>
      <button *ngIf="!bracketService.user" mat-button type="button" (click)="signup()">Sign Up</button>
      <button *ngIf="bracketService.user" mat-button type="submit" [disabled]="bracketService.saved">Save Bracket</button>
      <button *ngIf="bracketService.user" mat-button type="button" (click)="publishBracket()" [disabled]="bracketService.published">Publish Bracket</button>
    </div>
  </form>
    <p *ngIf="bracketService.saved && !bracketService.published">You have successfully saved your bracket.</p>
    <p *ngIf="bracketService.published">You have successfully saved & published your bracket.</p>
  </div>
</div>
