<!-- Warning Banner -->
<div *ngIf="bracketService.isComplete && !bracketService.saved" class="warning-banner">
  <p>You have completed your bracket, but it is not saved! Navigate to "Pick Bracket" to store your selections.</p>
</div>

<!-- Info Banner-->
<div class="info-banner" *ngIf="showBanner">
  ℹ️ You are looking at the {{ selectedYear }} Bracket. The 2025 Bracket will be announced on the evening of March 16th, 2025 and this website will be updated shortly afterwards.
  <button class="close-btn" (click)="closeBanner()">×</button>
</div>

<mat-toolbar *ngIf="!isHomePage" color="primary" class="app-toolbar">
  <!-- Hamburger Menu Button (Only Visible on Mobile) -->
  <button mat-icon-button (click)="toggleMenu()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title -->
  <span class="toolbar-title" [routerLink]="'/'" style="cursor: pointer;">🏀 Mascot Madness Bracket</span>

  <span class="spacer"></span>

  <!-- Desktop Navigation -->
  <nav class="nav-links" [ngClass]="{ 'hidden': menuOpen }">
    <ng-container *ngIf="!isMobileView">
      <!-- Login -->
      <button *ngIf="!user" mat-button routerLink="/login">Log In</button>
      <!-- Logout -->
      <button *ngIf="user" mat-button (click)="logout()">Log Out</button>
      <!-- Sign Up -->
      <button *ngIf="!user" mat-button routerLink="/signup">Sign Up</button>
      <!-- Pick Bracket -->
      <button mat-button="pick" [routerLink]="['/bracket/pick']">Pick Bracket</button>
      <mat-menu #bracketMenu="matMenu">
        <button mat-menu-item *ngFor="let region of regionsMenu" (click)="selectRegion(region)">
          <div *ngIf="region!='full'">{{ region | replaceUnderscore | titlecase }} Region</div>
          <div *ngIf="region==='full'">All Regions</div>
        </button>
      </mat-menu>
      <!-- View Bracket -->
      <button mat-button [matMenuTriggerFor]="bracketMenu">View Bracket</button>
      <!-- Leaderboard -->
      <button mat-button="pick" [routerLink]="['/leaderboard']">Leaderboard</button>
      <!-- Year Selection -->
      <mat-menu #yearMenu="matMenu">
        <button mat-menu-item *ngFor="let year of years" (click)="selectYear(year)">
          {{ year }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="yearMenu">Year: {{currentYear}}</button>
    </ng-container>
  </nav>
</mat-toolbar>

<!-- Mobile Navigation (Hamburger Menu) -->
<nav class="mobile-menu" *ngIf="menuOpen && isMobileView && !isHomePage">
  <!-- Select Region Section -->
  <button mat-button (click)="toggleYearSubMenu()" class="bracket-toggle">
    <mat-icon>{{ yearSubMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    Year: {{ currentYear }}
  </button>
  <!-- Nested Year Links -->
  <div class="bracket-submenu" *ngIf="yearSubMenuOpen && !isHomePage">
    <button *ngFor="let year of years" mat-button (click)="selectYear(year)">
      {{ year }}
    </button>
  </div>

  <!-- Leaderboard Section -->
  <button mat-button="leaderboard" (click)="route(['/leaderboard'])" class="bracket-toggle">Leaderboard</button>

  <!-- Pick Bracket Section -->
  <button mat-button="pick" (click)="route(['/bracket/pick'])" class="bracket-toggle">Pick Bracket</button>

  <!-- Select Region Section -->
  <button mat-button (click)="toggleBracketSubMenu()" class="bracket-toggle">
    <mat-icon>{{ bracketSubMenuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    Select Region
  </button>
  <!-- Nested Region Links -->
  <div class="bracket-submenu" *ngIf="bracketSubMenuOpen && !isHomePage">
    <button *ngFor="let region of regionsMenu" mat-button (click)="route(['/bracket/view', region])" (click)="selectRegion(region)">
      <div *ngIf="region!='full'">{{ region | replaceUnderscore | titlecase }} Region</div>
      <div *ngIf="region==='full'">All Regions</div>
    </button>
  </div>

  <!-- Log In Section -->
  <button mat-button *ngIf="!user" (click)="route(['/login'])" class="bracket-toggle">Log In</button>

  <!-- Sign Up Section -->
  <button mat-button *ngIf="!user" (click)="route(['/signup'])" class="bracket-toggle">Sign Up</button>

  <!-- Log Out Section -->
  <button mat-button *ngIf="user" (click)="route(['/logout'])" class="bracket-toggle">Log Out</button>
</nav>

<!-- Main Content (Router Outlet for Navigation) -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="app-footer">
  <p>© {{ realCurrentYear }} Justin Essert</p>
</footer>
