<!-- Year Banner -->
<div class="info-banner" *ngIf="showBanner">
  ℹ️ You are looking at the {{ year }} Bracket. The 2025 Bracket will be announced on the evening of March 16th, 2025 and this website will be updated shortly afterwards.
  <button class="close-btn" (click)="closeBanner()">×</button>
</div>

<!-- Warning Banner -->
<div *ngIf="region.name === 'final_four' && region.bracket.length === 0" class="warning-banner">
  ⚠️ The Final Four bracket is not yet available. Complete all other regional brackets first.
</div>

<div class="container">
  <!-- Winner Selection Component -->
  <app-winner-selection 
    *ngIf="region && region.bracket[region.roundIndex] && region.bracket[region.roundIndex][region.currentMatchupIndex] && region.bracket[region.roundIndex][region.currentMatchupIndex + 1]"
    [currentMatchup]="[region.bracket[region.roundIndex][region.currentMatchupIndex], region.bracket[region.roundIndex][region.currentMatchupIndex + 1]]" 
    (winnerSelected)="handleWinnerSelection($event)">
  </app-winner-selection>

  <!-- Full Bracket Display -->
  <app-bracket-display 
  [bracket]="region.bracket" 
  [champion]="region.champion" 
  [selectedRegion]="region.name">
</app-bracket-display>
</div>
